<h3> Historia Clinica</h3>
<div>
  <label fixed>Altura</label>
  <h5 type="text" class="form-control">{{usuarioAMostrar.nombre}}</h5>
</div>
<div>
  <label fixed>Peso</label>
  <h5 type="text" class="form-control">{{usuarioAMostrar.apellido}}</h5>
</div>
<div>
  <label fixed>Temperatura</label>
  <h5 type="email" disabled class="form-control">{{usuarioAMostrar.mail}}</h5>
</div>
<div>
  <label fixed>Presion</label>
  <h5 type="text" class="form-control">{{usuarioAMostrar.dni}}</h5>
</div>
<!-- <div>
  <label fixed>Edad</label>
  <h5 type="text" class="form-control">{{usuarioLogeado.edad}}</h5>
</div>
<div>
  <label fixed>Tipo Usuario</label>
  <h5 type="text" class="form-control">{{tipoUsuario}}</h5>
</div> -->
<hr />