<div id="profileContainer">
    <div class="container pato45">
      <div class="row">
        <div class="col-md-3">
          <div class="avatarFrameonline">
            <img [src]="this.usuarioLogeado.fotoUno" class="avatarImage img-fluid">
          </div>
          <hr />
        </div>
        <div class="col-md-9" *ngIf="usuarioLogeado">
          <div>
            <label fixed>Nombre</label>
            <h5 type="text" class="form-control">{{usuarioLogeado.nombre}}</h5>
          </div>
          <div>
            <label fixed>Apellido</label>
            <h5 type="text" class="form-control">{{usuarioLogeado.apellido}}</h5>
          </div>
          <div>
            <label fixed>Email</label>
            <h5 type="email" disabled class="form-control">{{usuarioLogeado.mail}}</h5>
          </div>
          <div>
            <label fixed>Dni</label>
            <h5 type="text" class="form-control">{{usuarioLogeado.dni}}</h5>
          </div>
          <div>
            <label fixed>Edad</label>
            <h5 type="text" class="form-control">{{usuarioLogeado.edad}}</h5>
          </div>
          <div>
            <label fixed>Tipo Usuario</label>
            <h5 type="text" class="form-control">{{tipoUsuario}}</h5>
          </div>
          <hr />
          <!--<a (click)="saveSettings()" class="btn btn-primary btn-block">Guardar</a>-->
        </div>
      </div>
    </div>
  </div>
  