<h1>FUNCIONA: {{isEspecialista}}}</h1>
<table class="table" *ngIf="this.listaUsuarios">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Mail</th>
        <th scope="col">Edad</th>
        <th scope="col">Dni</th>
        <th scope="col" *ngIf="this.isSpecialist">Habilitar Cuenta</th>
      </tr>
    </thead>
    <tbody *ngFor="let user in this.listaUsuarios">
      <tr>
        <th scope="row">{{user.nombre}}</th>
        <td>{{user.apellido}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.edad}}</td>
        <td>{{user.dni}}</td>
        <td  *ngIf="this.isSpecialist">
            <label>
                <input type="checkbox" value="user.enabled">Cuenta Habilitada
            </label>            
        </td>
      </tr>
    </tbody>
</table>