<!--<div>
    <div class="row total2">
        <div class="col">
            <button class="btn btn-info centrado" (click)="irRegistro('paciente')">Paciente</button>
        </div>
    </div>
    <div class="row total2">
        <div class="col">
            <button class="btn btn-warning centrado" (click)="irRegistro('especialista')">Especialista</button>
        </div>
    </div>
    <div class="row total2">
        <div class="col">
           
        </div>
    </div>
</div>-->
<div class="d-grid gap-2 col-6 mx-auto centrado">
    <button class="btn btn-info" type="button" (click)="irRegistro('paciente')">Paciente</button>
    <button class="btn btn-warning" type="button" (click)="irRegistro('especialista')">Especialista</button>
    <button class="btn btn-dark cerrar" (click)="seCerroElRegistro()">X</button>
  </div>