<h3> Historia Clinica</h3>
<div>
  <label fixed>Altura</label>
  <h5 type="text" class="form-control">{{usuarioAMostrar.historia.altura}}</h5>
</div>
<div>
  <label fixed>Peso</label>
  <h5 type="text" class="form-control">{{usuarioAMostrar.historia.peso}}</h5>
</div>
<div>
  <label fixed>Temperatura</label>
  <h5 type="email" disabled class="form-control">{{usuarioAMostrar.historia.temperatura}}</h5>
</div>
<div>
  <label fixed>Presion</label>
  <h5 type="text" class="form-control">{{usuarioAMostrar.historia.presion}}</h5>
</div>
<div>
  <label fixed> Datos Adicionales</label>
  <div *ngFor="let data of dataExtra">
    <label fixed>{{data.key}}</label>
    <h5 type="text" class="form-control">{{data.data}}</h5>
  </div>  
</div>